<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Restored Target" sequenceNumber="15">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.sdk" version="4.2.1.M20120914-1800"/>
<unit id="org.eclipse.sdk.ide" version="4.2.1.M20120914-1800"/>
<repository location="http://repos/p2/mirrors/eclipse/updates/4.2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20130610-0406"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/releases/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="2.2.0.201212191850-r"/>
<unit id="org.eclipse.jgit.feature.group" version="2.2.0.201212191850-r"/>
<unit id="org.eclipse.egit.import.feature.group" version="2.2.0.201212191850-r"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>de_AT</nl>
</environment>
</target>
